In [4]:
### Usando google Colab na manipulaçãod e dados no google sheets
### Atualizando a versão do Python
!pip install --upgrade gspread

Collecting gspread
  Downloading https://files.pythonhosted.org/packages/9c/ba/bc8de4f5077bd34bc873bdd67a89cb29c4f181abba8a836d2c6a0a142365/gspread-3.6.0-py3-none-any.whl
Requirement already satisfied, skipping upgrade: requests>=2.2.1 in /usr/local/lib/python3.6/dist-packages (from gspread) (2.23.0)
Requirement already satisfied, skipping upgrade: google-auth-oauthlib>=0.4.1 in /usr/local/lib/python3.6/dist-packages (from gspread) (0.4.1)
Requirement already satisfied, skipping upgrade: google-auth>=1.12.0 in /usr/local/lib/python3.6/dist-packages (from gspread) (1.17.2)
Requirement already satisfied, skipping upgrade: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.2.1->gspread) (3.0.4)
Requirement already satisfied, skipping upgrade: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.2.1->gspread) (2020.6.20)
Requirement already satisfied, skipping upgrade: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.2.1->gspread) (1.24.3)
Requirement already satisfied, skipping upgrade: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.2.1->gspread) (2.10)
Requirement already satisfied, skipping upgrade: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.6/dist-packages (from google-auth-oauthlib>=0.4.1->gspread) (1.3.0)
Requirement already satisfied, skipping upgrade: setuptools>=40.3.0 in /usr/local/lib/python3.6/dist-packages (from google-auth>=1.12.0->gspread) (50.3.0)
Requirement already satisfied, skipping upgrade: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.6/dist-packages (from google-auth>=1.12.0->gspread) (4.1.1)
Requirement already satisfied, skipping upgrade: six>=1.9.0 in /usr/local/lib/python3.6/dist-packages (from google-auth>=1.12.0->gspread) (1.15.0)
Requirement already satisfied, skipping upgrade: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.6/dist-packages (from google-auth>=1.12.0->gspread) (0.2.8)
Requirement already satisfied, skipping upgrade: rsa<5,>=3.1.4; python_version >= "3" in /usr/local/lib/python3.6/dist-packages (from google-auth>=1.12.0->gspread) (4.6)
Requirement already satisfied, skipping upgrade: oauthlib>=3.0.0 in /usr/local/lib/python3.6/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (3.1.0)
Requirement already satisfied, skipping upgrade: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.6/dist-packages (from pyasn1-modules>=0.2.1->google-auth>=1.12.0->gspread) (0.4.8)
Installing collected packages: gspread
  Found existing installation: gspread 3.0.1
    Uninstalling gspread-3.0.1:
      Successfully uninstalled gspread-3.0.1
Successfully installed gspread-3.6.0

In [5]:
### Autenticaçao para o google Colab acessar as planilhas do google sheets.
from google.colab import auth
auth.authenticate_user()

import gspread
from oauth2client.client import GoogleCredentials

gc = gspread.authorize(GoogleCredentials.get_application_default())

In [15]:
###Buscar o cabeçalho da planilha (aqui no caso escolhemos a primeira planilha)
spreadsheet = gc.open('Ocorrencias Criminais')
page = spreadsheet.sheet1
page.row_values(1)

['Município', 'Sigla UF', 'Região', 'Mês/Ano', 'Vítimas']

In [21]:
### Trazer a informaçãoa de alguma celula.
page.acell('D1').value

'Mês/Ano'

In [25]:
### Buscar informação de celiular, porém usando um range.
page.cell(2, 4).value

'jan.-18'

In [27]:
### Incluindo informação em na planilha ou apagar informação (No segundo critério deixe como vazio ou digite alguma informação)
page.update('f1','')

{'spreadsheetId': '1AOqJ7YgYRLpYNFqzb75OjJHrzo4dLxFgJBrx-_CLj_8',
 'updatedCells': 1,
 'updatedColumns': 1,
 'updatedRange': 'MG!F1',
 'updatedRows': 1}

In [29]:
### Importando pacote pandas
import pandas as pd

In [31]:
### Visualizando Dataframe
OCriminais = pd.DataFrame(page.get_all_records())
OCriminais.head()

             Município Sigla UF   Região  Mês/Ano  Vítimas
0  Abadia Dos Dourados       MG  SUDESTE  jan.-18        0
1               Abaeté       MG  SUDESTE  jan.-18        0
2           Abre Campo       MG  SUDESTE  jan.-18        0
3              Acaiaca       MG  SUDESTE  jan.-18        0
4              Açucena       MG  SUDESTE  jan.-18        0

In [54]:
### Através de uma condição, você filtra a informação de acordo com a sua necessidade. Usando metodo query.
OCriminais.query('Município=="Betim"')

      Município Sigla UF   Região  Mês/Ano  Vítimas
71        Betim       MG  SUDESTE  jan.-18       23
924       Betim       MG  SUDESTE  fev.-18        9
1777      Betim       MG  SUDESTE  mar.-18       12
2630      Betim       MG  SUDESTE  abr.-18        7
3483      Betim       MG  SUDESTE  mai.-18        9
4336      Betim       MG  SUDESTE  jun.-18       11
5189      Betim       MG  SUDESTE  jul.-18        8
6042      Betim       MG  SUDESTE  ago.-18        9
6895      Betim       MG  SUDESTE  set.-18       13
7748      Betim       MG  SUDESTE  out.-18       10
8601      Betim       MG  SUDESTE  nov.-18        4
9454      Betim       MG  SUDESTE  dez.-18       11
10307     Betim       MG  SUDESTE  jan.-19       13
11160     Betim       MG  SUDESTE  fev.-19       10
12013     Betim       MG  SUDESTE  mar.-19       11
12866     Betim       MG  SUDESTE  abr.-19        5
13719     Betim       MG  SUDESTE  mai.-19       11
14572     Betim       MG  SUDESTE  jun.-19        7
15425     Betim       MG  SUDESTE  jul.-19        6
16278     Betim       MG  SUDESTE  ago.-19        9
17131     Betim       MG  SUDESTE  set.-19        7
17984     Betim       MG  SUDESTE  out.-19        8
18837     Betim       MG  SUDESTE  nov.-19        4
19690     Betim       MG  SUDESTE  dez.-19        6
20543     Betim       MG  SUDESTE  jan.-20        8
21396     Betim       MG  SUDESTE  fev.-20        6
22249     Betim       MG  SUDESTE  mar.-20       17
23102     Betim       MG  SUDESTE  abr.-20        9

In [55]:
betim = OCriminais.query('Município=="Betim"')
betim.head()

     Município Sigla UF   Região  Mês/Ano  Vítimas
71       Betim       MG  SUDESTE  jan.-18       23
924      Betim       MG  SUDESTE  fev.-18        9
1777     Betim       MG  SUDESTE  mar.-18       12
2630     Betim       MG  SUDESTE  abr.-18        7
3483     Betim       MG  SUDESTE  mai.-18        9

In [45]:
### Buscar informações da tabela.
OCriminais.query('Vítimas>10').info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 60 entries, 65 to 23235
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Município  60 non-null     object
 1   Sigla UF   60 non-null     object
 2   Região     60 non-null     object
 3   Mês/Ano    60 non-null     object
 4   Vítimas    60 non-null     int64
dtypes: int64(1), object(4)
memory usage: 2.8+ KB

In [56]:
### Criando uma nova planilha. 
Cidade_betim = spreadsheet.add_worksheet('Betim', rows=60, cols=5)

In [57]:
### Incluindo informações necessárias com base na planilha principal.
Cidade_betim.update([betim.columns.values.tolist()] + betim.values.tolist())

{'spreadsheetId': '1AOqJ7YgYRLpYNFqzb75OjJHrzo4dLxFgJBrx-_CLj_8',
 'updatedCells': 145,
 'updatedColumns': 5,
 'updatedRange': 'Betim!A1:E29',
 'updatedRows': 29}